body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
   .date {
    font-style: normal;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address, time, dd, dt {
    font-size: 1.1em;
  }
  
  p, li, dd,dt, address {
    line-height: 1.5;
  }
  .img1 {
    height: 30vh;
}